.card {
  background-color: var(--background-ternary);
  color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: var(--gap-sm);
  width: 100%;
}

.heading {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--gap-md);
  display: flex;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  border: 2px solid var(--background-primary);
  border-radius: 50%;
  margin-right: var(--gap-xs);
  color: var(--color-highlight);
  padding: var(--gap-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    min-width: 24px;
  }
}

.content {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xl);
  text-align: center;
}
