.main {
  background-color: var(--background-secondary);
  padding: var(--gap-xl) var(--gap-md);
}

.hero {
  margin-bottom: var(--gap-xl);
  @media screen and (min-width: 720px) {
    display: flex;
    .content {
      width: 40%;
    }
    .illustration {
      width: 60%;
    }
  }
}

.illustration {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--gap-md);
  svg {
    max-height: 500px;
  }
}

.list {
  display: grid;
  gap: var(--gap-sm);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.headline {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  margin-bottom: var(--gap-xs);
  color: var(--color-highlight);
}

.subheadline {
  font-size: var(--font-size-lg);
  color: var(--color-ternary);
}
